.preloader_box {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: .8;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.preloader_img {
  width: 500px;
}